bin/dom5utils/*
items/*
items/desc/*
items/output/*
/lib/*
/monsters/*
monsters/desc/*
monsters/output/*
/spells/*
/BaseI.xlsx
/BaseU.xlsx
/Dominions5.03.exe
/Dominions5.06.exe
/Dominions5.exe
/MagicSites.xlsx
/Mercenary.xlsx
/armors.txt
/armors.xlsx
/armorsUnknown.txt
/attributes_by_armor.xlsx
/attributes_by_nation.xlsx
/attributes_by_spell.xlsx
/attributes_by_weapon.xlsx
/coast_leader_types_by_nation.xlsx
/coast_troop_types_by_nation.xlsx
/effects_spells.xlsx
/effects_weapons.xlsx
/fort_leader_types_by_nation.xlsx
/fort_troop_types_by_nation.xlsx
/item.trs
/items.txt
/itemsUnknown.txt
/monster.trs
/monster5.03.trs
/monster5.06.trs
/monsters.txt
/monstersUnknown.txt
/nations.xlsx
/nonfort_leader_types_by_nation.xlsx
/nonfort_troop_types_by_nation.xlsx
/pretender_types_by_nation.xlsx
/protections_by_armor.xlsx
/sites.txt
/sitesUnknown.txt
/spells.txt
/spells.xlsx
/unpretender_types_by_nation.xlsx
/weapons.txt
/weapons.xlsx
/bin/
/Dominions5.09.exe
/monster5.09.trs
/events.xlsx
/Dominions5.11.exe
/monster5.11.trs
monster513.trs
Dominions513.exe
/Dominions5.14.exe
/monster5.14.trs
Dominions5.15.exe
item5.15.trs
monster5.13.trs
monster5.15.trs
