bin/dom5utils/*
items/*
items/desc/*
items/output/*
/lib/*
/monsters/*
monsters/desc/*
monsters/output/*
/spells/*
/BaseI.xlsx
/BaseU.xlsx
/MagicSites.xlsx
/Mercenary.xlsx
/armors.txt
/armors.xlsx
/armorsUnknown.txt
/attributes_by_armor.xlsx
/attributes_by_nation.xlsx
/attributes_by_spell.xlsx
/attributes_by_weapon.xlsx
/coast_leader_types_by_nation.xlsx
/coast_troop_types_by_nation.xlsx
/effects_spells.xlsx
/effects_weapons.xlsx
/fort_leader_types_by_nation.xlsx
/fort_troop_types_by_nation.xlsx
/items.txt
/itemsUnknown.txt
/monsters.txt
/monstersUnknown.txt
/nations.xlsx
/nonfort_leader_types_by_nation.xlsx
/nonfort_troop_types_by_nation.xlsx
/pretender_types_by_nation.xlsx
/protections_by_armor.xlsx
/sites.txt
/sitesUnknown.txt
/spells.txt
/spells.xlsx
/unpretender_types_by_nation.xlsx
/weapons.txt
/weapons.xlsx
/bin/
/events.xlsx
*.exe
*.trs